$theme-colors: (
  "primary": #f9ba32,
  "secondary": #426e86,
  "danger": #2f3131
);

$jumbotron-bg: clear;

$border-radius_lg: 0;

@import "../node_modules/bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-image: url("../images/bgnd.jpg");

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.c_container {
  margin: 10% 5%;
  padding: 0.5rem;
  border: 5px solid #f9ba32;
  background-color: #f8f1e5;
}

.card-body a:hover {
  opacity: 0.7;
}

.side-p {
  position: fixed;
  bottom: 10px;
}

.side-p a {
  font-size: 1.5rem;
}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.cards {
  width: 100%;
}

.display-5 {
  font-size: 2rem;
  font-weight: $display4-weight;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.hvrbox .hvrbox-layer_slideup {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav-logo {
  height: 25px;
}

.footer {
  height: 5rem;
}

.vw {
  height: 50vh;
}

.toptext_wrap {
  height: 50vh;
}

.toptext_wrap h1 {
  font-size: 4rem;
  padding-right: 10%;
  text-align: right;
  //text-decoration: none;
  color: #f9ba32;
}

.toptext_wrap h1 a {
  text-decoration: none;
  color: inherit;
}

.contacts a {
  font-size: 2.5rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .c_container {
    margin: 10% 5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .c_container {
    margin: 10% 15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
