$theme-colors: (
  "primary": #f9ba32,
  "danger": #ff4136,
  "light": #f9ba32
);

$jumbotron-bg: #f8f1e5;

$border-radius_lg: 0;

@import "../node_modules/bootstrap/scss/bootstrap";

.c_container {
  margin: 10% 15%;
  padding: 0.5rem;
  background-color: #f8f1e5;
  border: 5px solid #f9ba32;
}

.card-body a:hover {
  opacity: 0.7;
}

.side-p {
  position: fixed;
  bottom: 10px;
}

.side-p a {
  font-size: 1.5rem;
}

body {
  height: 100%;
  background-image: url("../images/bgnd.jpg");

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.cards {
  width: 100%;
}

.display-5 {
  font-size: 2rem;
  font-weight: $display4-weight;
}
