$theme-colors: (
  "primary": #f9ba32,
  "danger": #ff4136
);

$border-radius_lg: 0;

@import "../node_modules/bootstrap/scss/bootstrap";

.c_container {
  margin: 100px 15%;
}

body {
  background-image: url("../images/bgnd.jpg");

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
